@model SIPADE.Models.SipTblTipoActividad

@{
    ViewData["Title"] = "Delete";
}
<h1>Esta seguro que desea eliminar la actividad?</h1>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Nombre de la actividad
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SipTblActNombre)
        </dd>
        <dt class = "col-sm-4">
            Costo de la actividad
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SipTblActCostoact)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SipTblActId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
