@model SIPADE.Models.SipTblTipoActividad

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle</h1>

<div>
    <h4>Tipo de Actividad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            Nombre de la actividad
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SipTblActNombre)
        </dd>
        <dt class = "col-sm-4">
            Nombre del costo de la actividad
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SipTblActCostoact)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SipTblActId">Editar</a> |
    <a asp-action="Index">Regresar a la lista</a>
</div>
