@model SIPADE.Models.SipTblTrabajoRealizado

@{
    ViewData["Title"] = "Delete";
}

<h3>Esta seguro que desea eliminar el trabajo realizado?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Cantidad de trabajo realizado
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SipTblTreCantidad)
        </dd>
        <dt class="col-sm-3">
            Trabajo total
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SipTblTreTotal)
        </dd>
        <dt class="col-sm-3">
            ID de la actividad
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SipTblAct.SipTblActId)
        </dd>
        <dt class="col-sm-3">
            ID del empleado
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.SipTblEmp.SipTblEmpId)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="SipTblTreId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
