@model SIPADE.Models.SipTblEncabezadoPlanilla

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar el encabezado de planilla?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fecha y hora
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEplFechahora)
        </dd>
        <dt class="col-sm-2">
            Fecha de inicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEplFechainicio)
        </dd>
        <dt class="col-sm-2">
            Fecha de fin
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SipTblEplFechafin)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SipTblEplId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar a la lista</a>
    </form>
</div>
